%section.home
  .container
    %h1 Principales áreas de necesidad (ultimas 2 horas)
    %h3 Selecciona en la que tú puedes apuntarte a ayudar.
    .container-flex
      %span Filtrar por zonas:
      %form{onchange: "sendForm(this);", :data => ''}
        .custom-dropdown
          = select_tag "Todas", options_for_select(@status_options, "Todas"), {:class => "form-control"}

    .cards
      .card.bg_purple.modal-toggle-js
        =fa_icon 'tint 2x'
        %h4 Agua Embotellada
        %p 50 personas apoyando
      .card.bg_purple.modal-toggle-js
        =fa_icon 'user-md 2x'
        %h4 Agua médica
        %p 50 personas apoyando
      .card.bg_purple.modal-toggle-js
        =fa_icon 'wrench 2x'
        %h4 Palas
        %p 50 personas apoyando
      .card.bg_purple.modal-toggle-js
        =fa_icon 'medkit 2x'
        %h4 Material de curación
        %p 50 personas apoyando
      .card.bg_purple.modal-toggle-js
        =fa_icon 'motorcycle 2x'
        %h4 Motocicletas
        %p 50 personas apoyando
      .card.bg_purple.modal-toggle-js
        =fa_icon 'cutlery 2x'
        %h4 Alimento para bebé
        %p 50 personas apoyando
    %h1 Áreas con mayor número de voluntarios apuntados
    %h3 Si no puedes ayudar en las que necesitan más apoyo, pero puedes apoyar en éstas áreas, toda ayuda es bienvenida.
    .cards
      .card.bg_purple.modal-toggle-js
        =fa_icon 'tint 2x'
        %h4 Agua Embotellada
        %p 50 personas apoyando
      .card.bg_purple.modal-toggle-js
        =fa_icon 'user-md 2x'
        %h4 Agua médica
        %p 50 personas apoyando
      .card.bg_purple.modal-toggle-js
        =fa_icon 'wrench 2x'
        %h4 Palas
        %p 50 personas apoyando
      .card.bg_purple.modal-toggle-js
        =fa_icon 'medkit 2x'
        %h4 Material de curación
        %p 50 personas apoyando
      .card.bg_purple.modal-toggle-js
        =fa_icon 'motorcycle 2x'
        %h4 Motocicletas
        %p 50 personas apoyando
      .card.bg_purple.modal-toggle-js
        =fa_icon 'cutlery 2x'
        %h4 Alimento para bebé
        %p 50 personas apoyando
