%header
  .container
    %h1 ¿Qué necesita Ciudad de México?
%section.home
  .container
    %h3 Principales áreas de necesidad (ultimas 24 horas)
    %p Selecciona en la que tú puedes apuntarte a ayudar.
    .cards
      .card.bg_yellow
        .icon=image_tag('icons/agua.svg')
        %h4 Agua Embotellada
        %p 50 personas apoyando
      .card.bg_yellow
        .icon=image_tag('icons/agua.svg')
        %h4 Agua Embotellada
        %p 50 personas apoyando
      .card.bg_yellow
        .icon=image_tag('icons/agua.svg')
        %h4 Agua Embotellada
        %p 50 personas apoyando
      .card.bg_yellow
        .icon=image_tag('icons/agua.svg')
        %h4 Agua Embotellada
        %p 50 personas apoyando
      .card.bg_yellow
        .icon=image_tag('icons/agua.svg')
        %h4 Agua Embotellada
        %p 50 personas apoyando
      .card.bg_yellow
        .icon=image_tag('icons/agua.svg')
        %h4 Agua Embotellada
        %p 50 personas apoyando
    %h3 Áreas con mayor número de voluntarios apuntados
    %p Si no puedes ayudar en las que necesitan más apoyo, pero puedes apoyar en éstas áreas, toda ayuda es bienvenida.
    .cards
      .card.bg_orange
        .icon=image_tag('icons/agua.svg')
        %h4 Agua Embotellada
        %p 50 personas apoyando
      .card.bg_orange
        .icon=image_tag('icons/agua.svg')
        %h4 Agua Embotellada
        %p 50 personas apoyando
      .card.bg_orange
        .icon=image_tag('icons/agua.svg')
        %h4 Agua Embotellada
        %p 50 personas apoyando
      .card.bg_orange
        .icon=image_tag('icons/agua.svg')
        %h4 Agua Embotellada
        %p 50 personas apoyando
      .card.bg_orange
        .icon=image_tag('icons/agua.svg')
        %h4 Agua Embotellada
        %p 50 personas apoyando
      .card.bg_orange
        .icon=image_tag('icons/agua.svg')
        %h4 Agua Embotellada
        %p 50 personas apoyando

