// Typography
$base-font-family: 'Work sans', sans-serif;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #2F3744;
$green: #5B8B69;
$yellow: #E4D163;
$orange: #E99930;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$purple: #606DFF;
$white: #FFFFFF;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;

//device sizes
$side-menu-width: 6.25rem;
$side-menu-width-resp: 3.125rem;
$max-content-width: 120rem; // 1200
$max-limit-screen: 87.5rem; // 1400
$max-desktop: 87.44rem; //1399
$min-desktop: 60rem; // 960px
$max-small-desktop: 59.94rem; //959
$min-small-desktop: 48.75rem; // 780
$max-tablet: 48.69rem; //779
$min-tablet: 40rem; // 640
$max-mobile: 39.94rem; // 639px
$min-mobile: 20rem; //320px
$small-padding: 0.625rem; //10px
$big-padding: 0.9375rem;//15px
