.container{
  width: 1000px; margin-left: auto; margin-right: auto;
  @include media(min-width 960px max-width 1199px) {
  width: 960px; padding-left:15px; padding-right:15px;
  }
  @include media(min-width 780px max-width 959px) {
    width: 780px; padding-left:15px; padding-right:15px;
  }
  @include media(min-width 320px max-width 779px) {
    width: 100%; padding-left:10px; padding-right:10px;
  }
}

.hidden-content {
  display: none;
}

header{
  background-color: $purple;
  color: #fff;
  padding: 120px 0 30px 0;
  text-align:center;
  h1{
    color:#fff;
  }
}
section.home{
  padding:60px 0;
  text-align: center;
  .cards{
    overflow: hidden;
    padding: 40px 0;
    text-align: center;
    .card{
      color: #fff;
      width: 300px;
      display: inline-block;
      padding: 30px;
      color: #fff;
      margin: 10px;
      &:last-child{
        padding-right: 0;
      }
      h4{
        font-size: 24px;
        font-weight: 300;
      }
    }
  }
}

.container-flex{
  display: flex;
  align-items: center;
  justify-content: center;
  span, form{
    align-self: flex-start;
  }
}

.bg_blue{ background-color: $blue !important;}
.bg_green{ background-color: $green !important;}
.bg_yellow{ background-color: $yellow !important;}
.bg_orange{ background-color: $orange !important;}
.bg_purple{ background-color: $purple !important;}
