%header.bg-gradient
  .container
    .main-logo=image_tag 'logo_sismo.svg'
    %h1 ¿Qué ayuda necesita México?
    .social-networks
      =link_to '#' do
        =fa_icon "twitter 2x"
      =link_to '#' do
        =fa_icon "facebook 2x"
