.modal-inner#modal-inner
  .modal-close
    .close-icon
  #modal-step-1
    .custom-bullet
      .bullet
        =fa_icon 'wrench 2x', class: 'main-icon'
      .bullet-info
        %h3=counter&.need&.titleize
        %p="#{counter&.supporters_count} Personas apoyando"
        %p.bold ¿En Dónde se necesita?
        %span No tenemos ubicación identificada. Ayudanos a ubicarla
        =link_to "+Agregar ubicacion", "#"
        %p
          =link_to "Quiero ayudar con eso", "#", class: "basic-button-link", id: 'step2_trigger'
    .tweet-feed
      %p.bold.margin-bullet Algunos de los Tweets que usamos para reconocer la necesidad:
      -tweets.each do |tweet|
        .tweet-item
          .photo=image_tag 'https://pbs.twimg.com/profile_images/633842965622882304/Cy083Uu9_normal.png'
          .tweet-content
            %p.bold=tweet.author
            %p=tweet.text
            %p
              =link_to "Ver tweet", tweet.url, class: "tweet-link"

  #modal-step-2.hidden-content
    .custom-bullet
      .bullet
        <i class="fa fa-wrench main-icon" aria-hidden="true"></i>
      .bullet-info
        %h2 Apúntate a ayudar con Palas
        %br
        %p.bold Instrucciones para ayudar:
        %p La ayuda se necesita en Salamanca y Puebla en la Colina Condesa
        %p Deja tu ayuda con el guardia de la entrada.
        %br
        %p.bold Déjanos tu contacto para avisarte si la prioridad cambio:
        %form
          %input{placeholder: 'Correo electronico'}
          %input{placeholder: 'Teléfono'}
          %input{placeholder: 'Twitter username'}
          %button#confirmed_help.basic-button Cuenten con mi apoyo
